article {
	width: 40vw;
	background-color: skyblue;
	padding: 25px;
	font-family: 'Sriracha', cursive;
	line-height: 1.5;
}

article > h1 {
	font-family: 'Sriracha', cursive;
}

article > p {
	font-family: 'Roboto', sans-serif;
}
